[tool.poetry]
name = "py-aiger-dfa"
version = "0.2.0"
description = "Library for moving between sequential circuits AIGs and DFAs."
authors = ["Marcell Vazquez-Chanlatte <mvc@linux.com>"]
repository = "https://github.com/mvcisback/py-aiger-dfa"
readme="README.md"
license = "MIT"
packages = [
    { include = "aiger_dfa" },
]

[tool.poetry.dependencies]
python = "^3.7"
attrs = "^19.1"
bidict = "^0.18.0"
funcy = "^1.12"
dfa = "^0.3.2"
py-aiger = "^6.0.0"
py-aiger-bv = "^4.0.0"
py-aiger-ptltl = "^3.0.0"


[tool.poetry.dev-dependencies]
pytest-cov = "^2.7"
pytest-flake8 = "^1.0"
pytest-xdist = "^1.29"
coverage = "^4.5"
codecov = "^2.0"
pdoc3 = "^0.7.5"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
